* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(113, 10, 147);
    color: white;
    font-family: 'poppins', 'sans-serif';
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(132, 30, 166);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(9, 235, 235);
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background: aqua;
    height: 1.2px;
    margin: 40px 84px;

}

.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 140px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 1.7rem;
    margin: 30px 0;
}

.rightSection img {
    width: 245px;
    height: 260px;
    border-radius: 50%;
}

.purple {
    color: rgb(195, 217, 117);
}

#element {
    color: rgb(211, 225, 118)
}

.about {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

.about h1 {
    position: relative;
    left: 380px;
    color: aqua;
    font-size: 3rem;
    justify-content: center;
}

.about h2 {
    color: bisque;
}

.desc {
    width: 515px;
    font-size: 1.2rem;
    margin: 30px 0;
}

.imginabout {
    width: 245px;
    height: 260px;
    position: relative;
    left: 755px;
    top: -390px;
}

.secondSection {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

.secondSection h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%; 
}

.secondSection div {
    margin: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 2rem;
    padding: 2rem;

}

.secondSection h3 {
    color: rgb(195, 217, 117);
    margin: auto;
    padding-top: 20px;
}

.skills {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

.skills h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%; 
}

.skills h3 {
    position: relative;
    top: -700px;
}

.htmli {
    position: relative;
    top: 0px;
    left: 150px;
}

.css {
    position: relative;
    top: -115px;
    left: 300px;
}

.mysql {
    position: relative;
    top: -230px;
    left: 450px;
}

.py {
    position: relative;
    top: -440px;
    left: 750px;
}

.cpp {
    position: relative;
    top: -335px;
    left: 600px;
}

.dart {
    position: relative;
    top: -545px;
    left: 900px;
}

.android {
    position: relative;
    top: -450px;
    left: 230px;
}

.flutter {
    position: relative;
    top: -550px;
    left: 380px;
    
}

.gc {
    position: relative;
    top: -670px;
    left: 540px;
}

.aws {
    position: relative;
    top: -820px;
    left: 750px;
}

.sent {
    position: relative;
    top: -600px;
}

.projects {
    margin: auto;
    max-width: 70vw;
    height: 160vh;
    padding: 40px 0;
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.projects h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%; 
}
.pj{
    position: relative;
    left: -510px;
}
.project1,
.project2,
.project3 {
    width: calc(33.33% - 20px); 
    margin: 20px 0; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project1 img,
.project2 img,
.project3 img {
    max-width: 100%;
    height: auto;
}

.project1 h3,
.project2 h3,
.project3 h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}

.project1 p,
.project2 p,
.project3 p {
    font-size: 1rem;
    color: #ffeeee;
}

.project1:hover,
.project2:hover,
.project3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-decoration: none;
}

.project a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
    text-decoration: none;
    background-color: #fff;
    background-color: #ff0000; 
    padding: 10px 20px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #000; 
    text-decoration: none;
}

.project a i {
    margin-right: 8px; 
}

.gh{
    margin: auto;
    background-color: black;
    border:1px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: white;
    
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding-top: 20px;
    height: 280px;
    background-color: rgb(132, 30, 166);
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
    margin: 0 23px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: rgb(9, 235, 235);
    font-size: 1.05rem;
}

.left1 h2 {
    font-size: 24px;
    color: #fff;
}

.contact-form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(132, 30, 166);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(204, 52, 255);
}

